@import url("./reset.css");

:root {
  --beaver-50: #f6f3f0;
  --beaver-100: #e8e3d9;
  --beaver-200: #d3c8b5;
  --beaver-300: #baa68a;
  --beaver-400: #a68969;
  --beaver-500: #97775b;
  --beaver-600: #876650;
  --beaver-700: #684d40;
  --beaver-800: #59413a;
  --beaver-900: #4e3a35;
  --beaver-950: #2c1f1c;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--beaver-950);
  background-color: var(--beaver-50);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--beaver-100) 25%, transparent 25%) -50px
      0px,
    linear-gradient(-135deg, var(--beaver-100) 25%, transparent 25%) -50px 0px,
    linear-gradient(45deg, var(--beaver-100) 25%, transparent 25%),
    linear-gradient(-45deg, var(--beaver-100) 25%, transparent 25%);
  background-size: 100px 100px;
}

nav {
  display: flex;
}

nav > button {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: var(--beaver-50);
  background-color: var(--beaver-700);

  &:hover {
    background-color: var(--beaver-900);
  }
}

main {
  padding: 0rem 1rem;
  max-width: 1024px;
  margin: 2rem auto;
}

.card-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  margin: 2rem 0rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.card {
  background-color: var(--beaver-50);
  box-shadow: 0px 0px 16px var(--beaver-950);
  padding: 1rem;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem;
}

p {
  margin: 1rem auto;
  font-size: 1.25rem;
  max-width: 72ch;
}

img {
  max-width: 100%;
}

table {
  width: 600px;
  margin: 0rem auto;
  border-collapse: collapse;
  font-size: 1.25rem;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--beaver-50);
  background-color: var(--beaver-700);
}

tr {
  text-align: center;

  &:nth-child(even) {
    background-color: var(--beaver-100);
  }
}

th,
td {
  padding: 0.25rem;
}

footer {
  color: var(--beaver-50);
  background-color: var(--beaver-700);
  margin-top: auto;
}

footer > p {
  font-size: 1.25rem;
  text-align: center;
}
